<html>
    <head>
        <title>
            <%= title%>
        </title>
    </head>
    <body>
        <%- include('layout2Head');%>
        
        <%- body %>

        <%- include('layout2Foot');%>
    </body>
</html>